#mainHeader {
  background: #000000 url(/images/torontoSkyline.png) no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 800px; }

.logNav {
  display: flex;
  flex-direction: row;
  opacity: 1; }

.Logo {
  width: 70%;
  height: 50%;
  margin-left: 30px;
  margin-top: 41px; }

#main_logo {
  width: 100%;
  height: 100%; }

.mainNav {
  width: 100%;
  height: 40px;
  margin-left: 50px;
  margin-top: 5%; }

.mainNav ul {
  list-style-type: none;
  padding: 0; }

.mainNav ul li {
  display: inline;
  cursor: pointer;
  margin-left: 25px; }

.mainNav ul li a {
  color: #00296c;
  padding: 2px;
  text-decoration: none;
  font-family: Din Condensed, arial, sans-serif;
  font-size: 20px; }

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #000000; }

@media only screen and (min-width: 768px) {
  #mainHeader {
    background: #000000 url(/images/torontoSkyline.png) no-repeat;
    opacity: 0.7;
    width: 100%;
    height: 1223px; }

  .logNav {
    display: flex;
    flex-direction: row;
    opacity: 1; }

  .Logo {
    width: 70%;
    height: 50%;
    margin-left: 30px;
    margin-top: 41px; }

  #main_logo {
    width: 100%;
    height: 100%; }

  .mainNav {
    width: 100%;
    height: 40px;
    margin-left: 50px;
    margin-top: 5%; }

  .mainNav ul {
    list-style-type: none;
    padding: 0; }

  .mainNav ul li {
    display: inline;
    cursor: pointer;
    margin-left: 25px; }

  .mainNav ul li a {
    color: #00296c;
    padding: 2px;
    text-decoration: none;
    font-family: Din Condensed, arial, sans-serif;
    font-size: 20px; }

  .mainNav ul li a:hover {
    padding: 5px;
    background-color: #000000; } }
@media only screen and (min-width: 1024px) {
  #mainHeader {
    background: #000000 url(/images/torontoSkyline.png) no-repeat;
    opacity: 0.7;
    width: 100%;
    height: 1223px; }

  .logNav {
    display: flex;
    flex-direction: row;
    opacity: 1; }

  .Logo {
    width: 70%;
    height: 50%;
    margin-left: 30px;
    margin-top: 41px; }

  #main_logo {
    width: 100%;
    height: 100%; }

  .mainNav {
    width: 150%;
    height: 40px;
    margin-left: 100px;
    margin-top: 5%; }

  .mainNav ul {
    list-style-type: none;
    padding: 0; }

  .mainNav ul li {
    display: inline;
    cursor: pointer;
    margin-left: 25px; }

  .mainNav ul li a {
    color: #00296c;
    padding: 5px;
    text-decoration: none;
    font-family: Din Condensed, arial, sans-serif;
    font-size: 24px; }

  .mainNav ul li a:hover {
    padding: 5px;
    background-color: #000000; } }
#theWelcome {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 50px;
  text-shadow: #000 2px 0 15px;
  font-weight: 300;
  text-align: center;
  padding-top: 30%; }

#tagline {
  Font-family: Raleway, sans-serif;
  position: relative;
  color: white;
  font-size: 40px;
  font-weight: 200;
  text-align: center; }

#placesToVisit {
  margin-top: 10%;
  display: flex;
  flex-direction: column; }

.lakeImage {
  width: 80%;
  height: 300px;
  display: flex;
  align-self: center; }

#textDiv {
  margin-left: 30%;
  display: flex;
  justify-content: center;
  align-self: center; }

#text {
  margin-left: 11%;
  align-self: center;
  background-color: white;
  color: #000;
  width: 65%;
  height: 520px;
  padding: 25px;
  margin-top: -30%;
  text-align: center; }

.sectionHead {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 50px; }

.dropCap {
  font-size: 64px;
  font-weight: 50px; }

.sectionP {
  font-family: "Raleway", sans-serif;
  font-size: 15px; }

button {
  display: inline-block;
  width: 70%;
  height: 99px;
  border: 6px;
  border-style: solid;
  border-color: #0072bc;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #0072bc;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 20px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; }

#thingstoDo {
  display: flex;
  align-self: center;
  align-content: center;
  flex-direction: row; }

.wineGirlsImage {
  width: 80%;
  height: 500px;
  margin-left: 10%;
  display: flex;
  align-self: center; }

#textDiv2 {
  width: 70%;
  height: 400px;
  padding: 25px;
  text-align: center;
  background-color: white;
  margin-top: 640px;
  margin-left: -79%; }

#Events {
  display: flex;
  flex-direction: column; }

#textDiv3 {
  width: 65%;
  height: 450px;
  padding: 25px;
  text-align: center;
  background-color: white;
  margin-top: -30%;
  margin-left: 12%; }

.fireworksImage {
  margin-top: 30%;
  width: 80%;
  height: 300px;
  display: flex;
  align-self: center; }

#bookAVisit {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-left: 2.5%;
  width: 95%;
  height: 1020px;
  background-color: #464646;
  margin-top: 300px;
  text-align: center; }
  #bookAVisit #linksContainer {
    width: 100%;
    margin: 0 auto; }
    #bookAVisit #linksContainer #row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 50px; }
    #bookAVisit #linksContainer #row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 50px; }

#bookSectionHeader {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 110px;
  padding-top: 25px;
  color: white; }

.externalLinks {
  max-width: 35%; }

.externalLinks1 {
  max-width: 35%; }

.externalLinks2 {
  max-width: 35%; }

.externalLinks3 {
  max-width: 50%; }

.externalLinks4 {
  max-width: 50%; }

#contactPanel {
  width: 100%;
  height: 600px;
  text-align: center;
  color: white; }
  #contactPanel h1 {
    font-weight: 300; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 100px;
  width: 50%; }

.contLabel {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center; }

label {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  margin-right: 20%; }

input {
  margin-bottom: 10%;
  margin-left: 5%;
  border: 5px solid;
  border-width: thick;
  border-color: white;
  text-align: center;
  align-self: flex-end;
  justify-content: flex-end;
  height: 35px;
  width: 300px;
  background-color: #5181a0; }

textarea {
  border-width: thick;
  border-color: white;
  border: 5px solid white;
  background-color: #5181a0;
  text-align: center;
  height: 100px;
  width: 300px; }

#contactButton {
  margin-top: 40px;
  width: 95%;
  border-radius: 25px; }

@media only screen and (min-width: 768px) {
  #theWelcome {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 150px;
    text-shadow: #000 2px 0 15px;
    font-weight: 300;
    text-align: center;
    padding-top: 30%; }

  #tagline {
    Font-family: Raleway, sans-serif;
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-align: center; }

  #placesToVisit {
    margin-top: 10%;
    display: flex;
    flex-direction: column; }

  .lakeImage {
    width: 80%;
    height: 600px;
    display: flex;
    align-self: center; }

  #textDiv {
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-self: center; }

  #text {
    margin-left: 15%;
    align-self: center;
    background-color: white;
    color: #000;
    width: 65%;
    height: 680px;
    padding: 25px;
    margin-top: -300px;
    text-align: center; }

  .sectionHead {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 50px; }

  .dropCap {
    font-size: 64px;
    font-weight: 50px; }

  .sectionP {
    font-family: "Raleway", sans-serif;
    font-size: 25px; }

  button {
    display: inline-block;
    width: 493px;
    height: 99px;
    border: 6px;
    border-style: solid;
    border-color: #0072bc;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #0072bc;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 20px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none; }

  #thingstoDo {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: row; }

  .wineGirlsImage {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    display: flex;
    align-self: center; }

  #textDiv2 {
    width: 70%;
    height: 550px;
    padding: 25px;
    text-align: center;
    background-color: white;
    margin-top: 640px;
    margin-left: -79%; }

  #Events {
    display: flex;
    flex-direction: column; }

  #textDiv3 {
    width: 70%;
    height: 650px;
    padding: 25px;
    text-align: center;
    background-color: white;
    margin-top: -30%;
    margin-left: 12%; }

  .fireworksImage {
    margin-top: 30%;
    width: 80%;
    height: 500px;
    display: flex;
    align-self: center; }

  #bookAVisit {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-left: 2.5%;
    width: 95%;
    height: 1020px;
    background-color: #464646;
    margin-top: 300px;
    text-align: center; }
    #bookAVisit #linksContainer {
      width: 100%;
      margin: 0 auto; }
      #bookAVisit #linksContainer #row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px; }
      #bookAVisit #linksContainer #row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px; }

  #bookSectionHeader {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 110px;
    padding-top: 25px;
    color: white; }

  .externalLinks {
    max-width: 300px; }

  .externalLinks1 {
    max-width: 600px; }

  .externalLinks2 {
    max-width: 400px; }

  .externalLinks3 {
    max-width: 300px; }

  .externalLinks4 {
    max-width: 400px; }

  #contactPanel {
    width: 100%;
    height: 600px;
    text-align: center;
    color: white; }
    #contactPanel h1 {
      font-weight: 300; }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 100px;
    width: 50%; }

  .contLabel {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center; }

  label {
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-right: 20%; }

  input {
    margin-bottom: 10%;
    margin-left: 5%;
    border: 5px solid;
    border-width: thick;
    border-color: white;
    text-align: center;
    align-self: flex-end;
    justify-content: flex-end;
    height: 35px;
    width: 500px;
    background-color: #5181a0; }

  textarea {
    border-width: thick;
    border-color: white;
    border: 5px solid white;
    background-color: #5181a0;
    text-align: center;
    height: 100px;
    width: 500px; }

  #contactButton {
    margin-top: 40px;
    width: 55%;
    border-radius: 25px; } }
@media only screen and (min-width: 1024px) {
  #theWelcome {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 150px;
    text-shadow: #000 2px 0 15px;
    font-weight: 300;
    text-align: center;
    padding-top: 30%; }

  #tagline {
    Font-family: Raleway, sans-serif;
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-align: center; }

  #placesToVisit {
    margin-top: 10%;
    display: flex;
    flex-direction: column; }

  .lakeImage {
    width: 80%;
    height: 962px;
    display: flex;
    align-self: center; }

  #textDiv {
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-self: center; }

  #text {
    margin-left: 20%;
    align-self: center;
    background-color: white;
    color: #000;
    width: 60%;
    height: 654px;
    padding: 25px;
    margin-top: -300px;
    text-align: center; }

  .sectionHead {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 50px; }

  .dropCap {
    font-size: 64px;
    font-weight: 50px; }

  .sectionP {
    font-family: "Raleway", sans-serif;
    font-size: 30px; }

  button {
    display: inline-block;
    width: 493px;
    height: 99px;
    border: 6px;
    border-style: solid;
    border-color: #0072bc;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #0072bc;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 20px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none; }

  #thingstoDo {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: row; }

  .wineGirlsImage {
    margin-left: 5%;
    display: flex;
    align-self: flex-start;
    margin-top: 150px; }

  #textDiv2 {
    width: 40%;
    height: 650px;
    padding: 25px;
    text-align: center;
    background-color: white;
    margin-top: 340px;
    margin-left: -20%; }

  #Events {
    display: flex;
    flex-direction: column; }

  #textDiv3 {
    width: 50%;
    height: 650px;
    padding: 25px;
    text-align: center;
    background-color: white;
    margin-top: -60%;
    margin-left: 5%; }

  .fireworksImage {
    width: 60%;
    height: px;
    display: flex;
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 150px; }

  #bookAVisit {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-left: 2.5%;
    width: 95%;
    height: 1020px;
    background-color: #464646;
    margin-top: 300px;
    text-align: center; }
    #bookAVisit #linksContainer {
      width: 100%;
      margin: 0 auto; }
      #bookAVisit #linksContainer #row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px; }
      #bookAVisit #linksContainer #row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px; }

  #bookSectionHeader {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 110px;
    padding-top: 25px;
    color: white; }

  .externalLinks {
    max-width: 300px; }

  .externalLinks1 {
    max-width: 600px; }

  .externalLinks2 {
    max-width: 400px; }

  .externalLinks3 {
    max-width: 300px; }

  .externalLinks4 {
    max-width: 400px; }

  #contactPanel {
    width: 100%;
    height: 600px;
    text-align: center;
    color: white; }
    #contactPanel h1 {
      font-weight: 300; }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 100px;
    width: 50%; }

  .contLabel {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center; }

  label {
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-right: 20%; }

  input {
    margin-bottom: 10%;
    margin-left: 5%;
    border: 5px solid;
    border-width: thick;
    border-color: white;
    text-align: center;
    align-self: flex-end;
    justify-content: flex-end;
    height: 35px;
    width: 500px;
    background-color: #5181a0; }

  textarea {
    border-width: thick;
    border-color: white;
    border: 5px solid white;
    background-color: #5181a0;
    text-align: center;
    height: 100px;
    width: 500px; }

  #contactButton {
    margin-top: 40px;
    width: 25%;
    border-radius: 25px; } }
#mainFooter {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #acacac;
  margin: 0 auto;
  margin-top: 150px; }
  #mainFooter img {
    width: 125px;
    margin: 0 auto;
    display: block;
    padding: 25px; }
  #mainFooter #footerText {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
    display: block;
    text-align: center; }

@media only screen and (min-width: 768px) {
  #mainFooter {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #acacac;
    margin: 0 auto;
    margin-top: 150px; }
    #mainFooter img {
      width: 125px;
      margin: 0 auto;
      display: block;
      padding: 25px; }
    #mainFooter #footerText {
      font-family: "Raleway", sans-serif;
      font-size: 30px;
      font-weight: 500;
      color: black;
      display: block;
      text-align: center; } }
@media only screen and (min-width: 1024px) {
  #mainFooter {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #acacac;
    margin: 0 auto;
    margin-top: 150px; }
    #mainFooter img {
      width: 125px;
      margin: 0 auto;
      display: block;
      padding: 25px; }
    #mainFooter #footerText {
      font-family: "Raleway", sans-serif;
      font-size: 30px;
      font-weight: 500;
      color: black;
      display: block;
      text-align: center; } }
body {
  margin: 0 auto;
  width: 100%;
  background-color: #5181a0; }

#app {
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
